<% include layout_top %>
<div class="content">
<div class="topic-header">
话题列表
<% if(user) { %>
<a id="btn_new_topic" href="javascript:;">发布新话题</a>
<% } %>
</div>
<div class="topic-list">
<% if(topics.length) { %>
  <ul>
    <% topics.forEach(function(topic){ %>
      <li><%= topic.title %></li>
      <li><%= topic.user %></li>
      <li><%= topic.time %></li>
      <li><%= topic.viewCount %></li>
      <li><%= topic.replyCount %></li>
    <% }) %>
  </ul>
<% } %>
</div>
</div>
<div class="sidebar">
侧栏
</div>
<div id="modal_new_topic" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">发布新话题</h3>
  </div>
  <div class="modal-body">
    <form id="form_new_topic" action="new_topic" method="post">
        <fieldset>
            <p>
            <label>标题</label>
            <input id="title" type="text" name="title" class="input-xlarge">
            </p>
            <p>
            <label>正文</label>
            <textarea id="content" name="content" rows="10" cols="30" class="input-xlarge"></textarea>
            </p>
        </fieldset>
  </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    <button id="btn_topic_publish" class="btn btn-primary">发布</button>
  </div>
</div>
<script type="text/javascript" src='/javascripts/jquery.validate.min.js'></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#btn_new_topic").click(function() {
        $('#modal_new_topic').modal('show');
    });

    $('#form_new_topic').validate({
        rules : {
            title: {
                required: true
            },
            content: {
                required: true
            }
        },
        messages : {
            title: {
                required : '标题不能为空'
            },
            content: {
                required: '正文不能为空'
            }
        }
    });

    $("#btn_topic_publish").click(function() {
        if($("#form_new_topic").valid()) {
            var posting = $.post("new_topic", $("#form_new_topic").serialize());
            posting.done(function(data) {
                if(data.result) {
                    $('#modal_new_topic').modal('hide');
                }
                alert(data.message);
            });
        }
    });
});
</script>
<% include layout_bottom %>
